<div class="app">
    <div class="header">
        <div class="menu-circle">
        </div>
        <div class="header-menu">
            <a class="menu-link is-active" href="#"> Apps</a>
            <a class="menu-link notify" href="#"> Your work</a>
            <a class="menu-link" href="#">Discover</a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
        </div>
        <div class="header-profile">
            <div class="notification">
                <span class="notification-number">3</span>
                <svg viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-bell">
                    <path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0" />
                </svg>
            </div>
            <img class="profile-img" [src]="imgProfileSrc" alt="">
        </div>
    </div>
</div>
<div class="profile-card">
    <ul>
        <li><a href="#">Go to Discover</a></li>
        <li><a href="#">Learn more</a></li>
        <li><a href="#">Uninstall</a></li>
    </ul>
</div>