<div class="login-container">
    <div class="login-card">
        <div class="title">
            <p>Login</p>
        </div>
        <form [formGroup]="authForm">
            <div class="form-group">
                <input class="input" type="email" placeholder="Email" name="email" formControlName="username">
            </div>
            <div class="form-group">
                <input class="input" type="password" placeholder="Password" name="password" formControlName="password">
            </div>
        </form>
        <div class="row-container">
            <button class="button-row" (click)="validateCredentials()">Login</button>
            <button class="button-row">Sign Up</button>
        </div>
        <div class="button-large">
            <button class="button" (click)="googleLogin()">Google</button>
        </div>
        <div class="button-large">
            <button class="button" (click)="githubLogin()">Github</button>
        </div>
    </div>
</div>