<div class="login-container">
    <div class="login-card">
        <div class="title">
            <p>Login</p>
        </div>
        <form [formGroup]="authForm">
            <app-basic-input-field [containerClass]="'form-group'" [formGroup]="authForm" [inputProperties]="inputFields.username" [displayMessage]="formWithErrors"></app-basic-input-field>
            <app-basic-input-field [containerClass]="'form-group'" [formGroup]="authForm" [inputProperties]="inputFields.password" [displayMessage]="formWithErrors"></app-basic-input-field>
        </form>
        <div class="row-container">
            <button class="button-row" (click)="validateCredentials()">Login</button>
            <button class="button-row" (click)="gotoSignUp()">Sign Up</button>
        </div>
        <div class="button-large">
            <button class="button" (click)="googleLogin()">Google</button>
        </div>
        <div class="button-large">
            <button class="button" (click)="githubLogin()">Github</button>
        </div>
    </div>
</div>