<div
  class="grid-columns-container"
  cdkDropListGroup
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="sortSectionList($event)"
>
  <app-todos-container
    class="content-wrapper"
    *ngFor="let section of sectionsList"
    [section]="section"
    [teamId]="teamId"
    cdkDropList
    [cdkDropListConnectedTo]="dropsAreas"
    (cdkDropListDropped)="dropped($event, section)"
    [id]="section.uid"
    [cdkDragData]="section"
    cdkDrag
  >
  </app-todos-container>
  <app-create-section
    class="content-wrapper-small"
    [teamId]="teamId"
    [nextIndex]="nextIndex"
  ></app-create-section>
</div>
