<div [class]="containerClass" [formGroup]="formGroup">
    <label [for]="inputProperties.name" *ngIf="inputProperties.label">{{inputProperties.label|translate}}</label>
    <input [class]="inputProperties.class" [formControlName]="inputProperties.name" [type]="inputProperties.type" [name]="inputProperties.name" [id]="inputProperties.id" [placeholder]="(inputProperties.placeholder|translate)"
        [autocomplete]="inputProperties.autocomplete">
    <app-input-error-label class="message-error" *ngIf="displayMessage === true"  [errorData]="((inputProperties.formControl|formControlErrors))"></app-input-error-label>
</div>