<div class="login-container">
    <div class="login-card">
        <div class="title-container">
            <p class="title-text">{{'login.title'|translate}}</p>
            <app-select-lang></app-select-lang>
        </div>
        <form [formGroup]="authForm">
            <app-basic-input-field [containerClass]="'form-group'" [formGroup]="authForm"
                [inputProperties]="inputFields.username"></app-basic-input-field>
            <app-basic-input-field [containerClass]="'form-group'" [formGroup]="authForm"
                [inputProperties]="inputFields.password"></app-basic-input-field>
        </form>
        <div class="bottom-container">
            <div class="button-grid">
                <button class="button" (click)="validateCredentials()">Login</button>
                <button class="button" (click)="gotoSignUp()">{{'login.signUpBtn'|translate}}</button>
            </div>
            <button class="button-large" (click)="googleLogin()">{{'login.googleBtn'|translate}}</button>
            <button class="button-large" (click)="githubLogin()">{{'login.githubBtn'|translate}}</button>
        </div>
    </div>
</div>