<div class="login-container">
    <div class="login-card">
        <div class="title">
            <p>SignUp</p>
        </div>
        <form>
            <div class="form-group">
                <input class="input" type="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input class="input" type="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="input" type="password" placeholder="Password">
            </div>
        </form>
        <div class="row-container">
            <button class="button-row">Login</button>
            <button class="button-row">Send</button>
        </div>
    </div>
</div>