.grid-columns-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    // align-self: stretch;
    width: 100%;
    padding: 2em;
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
    flex: 1;
    flex-direction: column;
    color: var(--theme-color);
    align-items: stretch;
    padding: 20px 40px;
    max-height: 830px;
    flex-shrink: 1;
    overflow: auto;
    // avoid all containers adjust to the same height
    align-self: flex-start;
    background-color: var(--theme-bg-color);
    backdrop-filter: blur(20px);
    margin: 2em;
    @media screen and (max-width: 510px) {
        padding: 20px;
    }
    &-header {
        display: flex;
        // align-items: center;
        width: 100%;
        justify-content: space-between;
        background-image: url("https://www.transparenttextures.com/patterns/cubes.png"),
            linear-gradient(
                to right top,
                #cf4af3,
                #e73bd7,
                #f631bc,
                #fd31a2,
                #ff3a8b,
                #ff4b78,
                #ff5e68,
                #ff705c,
                #ff8c51,
                #ffaa49,
                #ffc848,
                #ffe652
            );
        border-radius: 14px;
        padding: 20px 40px;
        @media screen and (max-width: 415px) {
            padding: 20px;
        }
    }
    &.overlay {
        pointer-events: none;
        transition: 0.3s;
        background-color: var(--overlay-bg);
    }
}

.card-item {
    flex-grow: 1;
    flex: 1;
    color: var(--theme-color);
    padding: 20px 40px;
    overflow: hidden;
    background-color: rgb(29, 52, 94);
    backdrop-filter: blur(30px);
    margin: 2em;
    box-shadow: 8px 8px 6px -6px rgb(132, 139, 153);
    & p {
        max-height: 100px;
        overflow-y: hidden;
    }
}
